hr {
	border-color: #D2D6DE;
}

.rank {
        font-size: 2em;
        font-weight: bold;
        color: #aaa;
        margin-top: 0.5em;
}

.li-padding {
  padding: 10px 5px;
}

li.even {
  background-color: #f7f7f7;
}

.menu-input {
	border-top-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
}

.button-input {
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.list-group {
	margin-bottom: 0px !important;
}

pre {
  margin: 70px 20px 15px 80px !important;
}

.searchBox{
  background-image:url('../images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
