{% extends "base/_layout.html.twig" %}

{% block content %}
    <div class="row row-cards">
        <div class="col-lg-2 col-sm-12 space-y">
            {% include 'pages/ix/search_ix/_search.html.twig' %}
            {% block legend %}{% endblock %}
        </div>
        <div class="col">
            {% block graph %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
        var input = document.querySelector('#{{ form.ix.vars.id }}');

        console.log(input);
    </script>
{% endblock %}
