<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        {% if base_data.release is defined %}
                            <b>Version</b> {{ base_data.release|default('')|raw }}
                        {% else %}
                            <b>Version</b> N/A
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; {{ 'now'|date('Y') }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
