<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>AS-Stats | {% block title %}{{ title|default('') }}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/templates/tabler.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/tabler-icons/tabler-icons.min.css') }}">

        {% block css %}{% endblock %}
    </head>

    <body class="layout-fluid">
        <div class="page">
            <!-- /.header -->
            {% include 'base/_header.html.twig' %}

            <div class="page-wrapper">
                <div class="container-xl">
                    <!-- Page title -->
                    {% include "base/_page_header.html.twig" %}
                </div>

                <div class="page-body">
                    <div class="container-xl">
                        <!-- /.content -->
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            <!-- /.footer -->
            {% include 'base/_footer.html.twig' %}
        </div>

        {% block js %}{% endblock %}

        <!-- Tabler Core -->
        <script src="{{ asset('assets/templates/tabler.min.js') }}"></script>
    </body>
</html>
