<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>AS-Stats | {% block title %}{{ title|default('') }}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />

        {% block css %}{% endblock %}
    </head>

    <body class="layout-fluid">
        <div class="page">
            <!-- /.header -->
            {% include 'base/_header.html.twig' %}

            <div class="page-wrapper">
                <div class="container-xl">
                </div>

                <div class="page-body">
                    <div class="container-xl">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            <!-- /.footer -->
            {% include 'base/_footer.html.twig' %}
        </div>

        {% block js %}{% endblock %}

        <!-- Tabler Core -->
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
    </body>
</html>
