{% extends "base/_layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <div class="row row-cards">
                <div class="col-12">
                    {% include 'pages/history/_search.html.twig' %}
                </div>
                <div class="col-12">
                    {% block customlinks %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-10">
            {% block graphs %}{% endblock %}
        </div>
    </div>
{% endblock %}
