<footer class="main-footer font-default">
  <div class="pull-right hidden-xs">
    <b>GUI Release</b> {{ version|default('') }}
  </div>
  <strong>AS-Stats v1.6</strong> written by Manuel Kasper for Monzoon Networks AG.
  &nbsp;//&nbsp;<strong>GUI</strong> written by Nicolas Debrigode for Hexanet SAS.
</footer>
