<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container pull-left">
      <div class="navbar-header">
        <a href="index.php" class="navbar-brand"><b>AS-Stats</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><i class="fa fa-bars"></i></button>
      </div>
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Top AS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="index.php?numhours=24">Top AS - 24 hours</a></li>
              <li><a href="index.php?numhours=720">Top AS - 30 days</a></li>
              <li><a href="index.php?numhours=2160">Top AS - 3 months</a></li>
              <li><a href="index.php?numhours=8760">Top AS - year</a></li>
            </ul>
          </li>
          <li><a href="history.php">View AS</a></li>
          <li><a href="asset.php">View AS-SET</a></li>
          <li><a href="ix.php">View IX Stats</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control menu-input" name="n" placeholder="Top AS" value="">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-flat button-input">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
