<div class="card">
    <div class="card-body">
        {% if (block('title') is defined and block('title') is not empty) %}
            <h3 class="card-title">{% block title %}{% endblock %}</h3>
        {% endif %}
        <div>
            {% if (block('graph') is defined and block('graph') is not empty) %}
                {% block graph %}{% endblock %}
            {% endif %}
        </div>
    </div>
</div>
